
p{
border: solid;
padding: 20px;
margin: 5%;
border-color: rgb(226, 208, 107);
text-align: center;
bolded
}
.division{
border: dotted;
padding: 30px;
margin: 10%;
border-color: rgb(172, 172, 233);

}
